* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}

/*================================================================
  loader
================================================================*/
@keyframes rotateCircle-1 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #bfaa40;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-2 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #6abf40;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-3 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #40bf80;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-4 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #4095bf;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-5 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #5540bf;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-6 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #bf40bf;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-7 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #bf4055;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-8 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #bf9540;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-9 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #80bf40;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-10 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #40bf6a;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-11 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #40aabf;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-12 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #4040bf;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-13 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #aa40bf;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-14 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #bf406a;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
@keyframes rotateCircle-15 {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #bf8040;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
.loader {
  position: relative;
  width: 400px;
  height: 400px;
}

.loader__item {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform-origin: bottom;
  width: 50%;
  height: 50%;
  margin: auto;
}
.loader__item:nth-child(1) {
  transform: rotate(24deg);
}
.loader__item:nth-child(1) .loader__circle {
  animation: rotateCircle-1 2s ease 0.1333333333s infinite;
}
.loader__item:nth-child(2) {
  transform: rotate(48deg);
}
.loader__item:nth-child(2) .loader__circle {
  animation: rotateCircle-2 2s ease 0.2666666667s infinite;
}
.loader__item:nth-child(3) {
  transform: rotate(72deg);
}
.loader__item:nth-child(3) .loader__circle {
  animation: rotateCircle-3 2s ease 0.4s infinite;
}
.loader__item:nth-child(4) {
  transform: rotate(96deg);
}
.loader__item:nth-child(4) .loader__circle {
  animation: rotateCircle-4 2s ease 0.5333333333s infinite;
}
.loader__item:nth-child(5) {
  transform: rotate(120deg);
}
.loader__item:nth-child(5) .loader__circle {
  animation: rotateCircle-5 2s ease 0.6666666667s infinite;
}
.loader__item:nth-child(6) {
  transform: rotate(144deg);
}
.loader__item:nth-child(6) .loader__circle {
  animation: rotateCircle-6 2s ease 0.8s infinite;
}
.loader__item:nth-child(7) {
  transform: rotate(168deg);
}
.loader__item:nth-child(7) .loader__circle {
  animation: rotateCircle-7 2s ease 0.9333333333s infinite;
}
.loader__item:nth-child(8) {
  transform: rotate(192deg);
}
.loader__item:nth-child(8) .loader__circle {
  animation: rotateCircle-8 2s ease 1.0666666667s infinite;
}
.loader__item:nth-child(9) {
  transform: rotate(216deg);
}
.loader__item:nth-child(9) .loader__circle {
  animation: rotateCircle-9 2s ease 1.2s infinite;
}
.loader__item:nth-child(10) {
  transform: rotate(240deg);
}
.loader__item:nth-child(10) .loader__circle {
  animation: rotateCircle-10 2s ease 1.3333333333s infinite;
}
.loader__item:nth-child(11) {
  transform: rotate(264deg);
}
.loader__item:nth-child(11) .loader__circle {
  animation: rotateCircle-11 2s ease 1.4666666667s infinite;
}
.loader__item:nth-child(12) {
  transform: rotate(288deg);
}
.loader__item:nth-child(12) .loader__circle {
  animation: rotateCircle-12 2s ease 1.6s infinite;
}
.loader__item:nth-child(13) {
  transform: rotate(312deg);
}
.loader__item:nth-child(13) .loader__circle {
  animation: rotateCircle-13 2s ease 1.7333333333s infinite;
}
.loader__item:nth-child(14) {
  transform: rotate(336deg);
}
.loader__item:nth-child(14) .loader__circle {
  animation: rotateCircle-14 2s ease 1.8666666667s infinite;
}
.loader__item:nth-child(15) {
  transform: rotate(360deg);
}
.loader__item:nth-child(15) .loader__circle {
  animation: rotateCircle-15 2s ease 2s infinite;
}
.loader__item:nth-child(1) .loader__circle::before, .loader__item:nth-child(1) .loader__circle::after {
  background-color: #bfaa40;
  box-shadow: 0px 0px 10px #bfaa40, 0px 0px 20px #bfaa40;
}
.loader__item:nth-child(2) .loader__circle::before, .loader__item:nth-child(2) .loader__circle::after {
  background-color: #55ff00;
  box-shadow: 0px 0px 10px #55ff00, 0px 0px 20px #55ff00;
}
.loader__item:nth-child(3) .loader__circle::before, .loader__item:nth-child(3) .loader__circle::after {
  background-color: #00ff80;
  box-shadow: 0px 0px 10px #00ff80, 0px 0px 20px #00ff80;
}
.loader__item:nth-child(4) .loader__circle:before, .loader__item:nth-child(4) .loader__circle:after {
  background-color: #00aaff;
  box-shadow: 0px 0px 10px #00aaff, 0px 0px 20px #00aaff;
}
.loader__item:nth-child(5) .loader__circle::before, .loader__item:nth-child(5) .loader__circle::after {
  background-color: #2b00ff;
  box-shadow: 0px 0px 10px #2b00ff, 0px 0px 20px #2b00ff;
}
.loader__item:nth-child(6) .loader__circle::before, .loader__item:nth-child(6) .loader__circle::after {
  background-color: magenta;
  box-shadow: 0px 0px 10px magenta, 0px 0px 20px magenta;
}
.loader__item:nth-child(7) .loader__circle::before, .loader__item:nth-child(7) .loader__circle::after {
  background-color: #ff002b;
  box-shadow: 0px 0px 10px #ff002b, 0px 0px 20px #ff002b;
}
.loader__item:nth-child(8) .loader__circle::before, .loader__item:nth-child(8) .loader__circle::after {
  background-color: #ffaa00;
  box-shadow: 0px 0px 10px #ffaa00, 0px 0px 20px #ffaa00;
}
.loader__item:nth-child(9) .loader__circle::before, .loader__item:nth-child(9) .loader__circle::after {
  background-color: #80ff00;
  box-shadow: 0px 0px 10px #80ff00, 0px 0px 20px #80ff00;
}
.loader__item:nth-child(10) .loader__circle::before, .loader__item:nth-child(10) .loader__circle::after {
  background-color: #00ff55;
  box-shadow: 0px 0px 10px #00ff55, 0px 0px 20px #00ff55;
}
.loader__item:nth-child(11) .loader__circle::before, .loader__item:nth-child(11) .loader__circle::after {
  background-color: #00d5ff;
  box-shadow: 0px 0px 10px #00d5ff, 0px 0px 20px #00d5ff;
}
.loader__item:nth-child(12) .loader__circle::before, .loader__item:nth-child(12) .loader__circle::after {
  background-color: blue;
  box-shadow: 0px 0px 10px blue, 0px 0px 20px blue;
}
.loader__item:nth-child(13) .loader__circle::before, .loader__item:nth-child(13) .loader__circle::after {
  background-color: #d500ff;
  box-shadow: 0px 0px 10px #d500ff, 0px 0px 20px #d500ff;
}
.loader__item:nth-child(14) .loader__circle::before, .loader__item:nth-child(14) .loader__circle::after {
  background-color: #ff0055;
  box-shadow: 0px 0px 10px #ff0055, 0px 0px 20px #ff0055;
}
.loader__item:nth-child(15) .loader__circle::before, .loader__item:nth-child(15) .loader__circle::after {
  background-color: #ff8000;
  box-shadow: 0px 0px 10px #ff8000, 0px 0px 20px #ff8000;
}

.loader__circle {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  border: 2px solid transparent;
  border-radius: 50%;
}
.loader__circle::before, .loader__circle::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 50%;
}
.loader__circle::before {
  left: 0;
  transform: translateX(-50%);
}
.loader__circle::after {
  right: 0;
  transform: translateX(50%);
}

/*# sourceMappingURL=style.css.map */
