<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Depth Of Field Card Hover Effect</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <ul class="card-grid">
      <li class="card-grid__item card" tabIndex="0">
        <div class="card__content">
          <h2 class="card__title">1</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, magnam.</p>
          <a href="#" class="btn">Read More</a>
        </div>
      </li>
      <li class="card-grid__item card" tabIndex="0">
        <div class="card__content">
          <h2 class="card__title">2</h2>
          <p>Exercitationem laudantium sequi eveniet facilis dolorem ut deserunt itaque possimus?</p>
          <a href="#" class="btn">Read More</a>
        </div>
      </li>
      <li class="card-grid__item card" tabIndex="0">
        <div class="card__content">
          <h2 class="card__title">3</h2>
          <p>Ea dolore ex soluta cumque cum sint eligendi, natus voluptate.</p>
          <a href="#" class="btn">Read More</a>
        </div>
      </li>
      <li class="card-grid__item card" tabIndex="0">
        <div class="card__content">
          <h2 class="card__title">4</h2>
          <p>Similique, explicabo illum. Excepturi temporibus incidunt consectetur perferendis accusamus placeat!</p>
          <a href="#" class="btn">Read More</a>
        </div>
      </li>
    </ul>
</body>
</html>
