html,
body {
  padding: 0;
  margin: 0;
}

/*================================================================
  bg
================================================================*/

.bg {
  height: 100vh;
  transition: .5s;
}