<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Number Countdown (Pure CSS)</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="countdown">
    <div class="countdown__number">10</div>
    <div class="countdown__number">09</div>
    <div class="countdown__number">08</div>
    <div class="countdown__number">07</div>
    <div class="countdown__number">06</div>
    <div class="countdown__number">05</div>
    <div class="countdown__number">04</div>
    <div class="countdown__number">03</div>
    <div class="countdown__number">02</div>
    <div class="countdown__number">01</div>
  </div>
</body>
</html>
