<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Social Media Sliding</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <ul class="socials">
    <li class="socials__item">
      <a href="#" class="socials__item-link socials__item-link_facebook">
        <span class="socials__item-icon fa fa-facebook"></span>
        <span class="socials__item-text">Facebook</span>
      </a>
    </li>
    <li class="socials__item">
      <a href="#" class="socials__item-link socials__item-link_twitter">
        <span class="socials__item-icon fa fa-twitter"></span>
        <span class="socials__item-text">Twitter</span>
      </a>
    </li>
    <li class="socials__item">
      <a href="#" class="socials__item-link socials__item-link_google-plus">
        <span class="socials__item-icon fa fa-google-plus"></span>
        <span class="socials__item-text">Google+</span>
      </a>
    </li>
    <li class="socials__item">
      <a href="#" class="socials__item-link socials__item-link_linkedin">
        <span class="socials__item-icon fa fa-linkedin"></span>
        <span class="socials__item-text">Linkedin+</span>
      </a>
    </li>
    <li class="socials__item">
      <a href="#" class="socials__item-link socials__item-link_instagram">
        <span class="socials__item-icon fa fa-instagram"></span>
        <span class="socials__item-text">Instagram</span>
      </a>
    </li>
  </ul>
</body>
</html>