@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-size: 16px;
  background-color: #262626;
}

/*================================================================
  figure
================================================================*/

$duration: .6s;
$t-func: ease;

.figure {
  overflow: hidden;
  position: relative;
  width: 310px;
  height: 220px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  background-color: #07090c;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  perspective: 50em;

  &:hover,
  &:focus {
    .figure__img {
      transform: rotateX(90deg);
      opacity: 0;
    }

    .figure__caption {
      transform: rotateX(0);
      opacity: 1;
    }
  }
}

.figure__img {
  transform-origin: 50% 100%;
  display: block;
  width: 100%;
  opacity: 1;
  transition: $duration $t-func;
}

.figure__caption {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(-90deg);
  transform-origin: 50% -50%;
  width: 100%;
  padding: 20px 30px;
  opacity: 0;
  transition: $duration $t-func;

  p {
    margin: 0 0 15px;
    font-weight: 500;
    font-size: .8em;
    line-height: 1.5em;
  }
}

.figure__title {
  margin: 0;
  font-weight: 800;
  font-size: 1.17em;
  line-height: 1.5em;
  text-transform: uppercase;
}

.figure__link {
  display: inline-block;
  padding: .5em 1em;
  border: 2px solid #fff;
  font-size: .8em;
  color: #fff;
  text-decoration: none;
  transition: .25s $t-func;

  &:hover,
  &:focus {
    color: #000;
    background-color: #fff;
  }
}