<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Btn (3d Flip Effect)</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <button class="btn">
      <span class="btn__front">Click</span>
      <span class="btn__center"></span>
      <span class="btn__back">Here</span>
    </button>
  </div>
</body>
</html>