* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

html,
body {
  padding: 0;
  margin: 0;
}

html { font: 16px sans-serif; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}

/*================================================================
  preloader
================================================================*/

@keyframes fillToRight {
  from { width: 0; }
  to { width: 100%; }
}

.preloader {
  position: relative;
  font-weight: 700;
  font-size: 8vw;
  color: #222;
  text-decoration: underline;

  &::before {
    content: attr(data-text);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #03a9f4;
    text-decoration: inherit;
    animation: fillToRight 5s linear infinite;
  }
}
