<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Content Flipper Box</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="flipper">
    <div class="flipper__msg">I<br>love</div>
    <div class="flipper__box">
      <div class="flipper__box-item flipper__box-item_1">html</div>
      <div class="flipper__box-item flipper__box-item_2">css</div>
      <div class="flipper__box-item flipper__box-item_3">js</div>
      <div class="flipper__box-item flipper__box-item_4">&#9787;</div>
    </div>
  </div>
</body>
</html>