* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

html,
body {
  padding: 0;
  margin: 0;
  font: 16px 'Quicksand', sans-serif;;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


/*================================================================
  intro
================================================================*/

@keyframes moveLetters {
  from {
    letter-spacing: 4vw;
    opacity: 0;
  }
  to {
    letter-spacing: 2vw;
    opacity: 1;
  }
}

@keyframes fadeInDownToggle {
  0%, 50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: .7;
  }
}

.intro {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: #000;
}

.intro__container { text-align: center; }

.intro__title {
  margin: 0 0 2rem;
  font-weight: 700;
  font-size: 8vw;
  letter-spacing: 2vw;
  text-transform: uppercase;
  animation: moveLetters 2s ease;
}


.intro__toggle {
  border: 0 none;
  font-size: 1.5rem;
  color: #adff2f;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: transparent;
  opacity: .7;
  animation: fadeInDownToggle 2s ease;
  transition: .25s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    opacity: 1;
  }
}

/*================================================================
  intro_hidden
================================================================*/

.intro_hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease, visibility 0s .3s;
}

/*================================================================
  greeting
================================================================*/

.greeting { font-size: 8vw; }