* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

html,
body {
  padding: 0;
  margin: 0;
}

html { font: 16px sans-serif; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}

/*================================================================
  glowing-text
================================================================*/

@keyframes glow {
  0%, 80% {
    color: #333;
    text-shadow: none;
  }
  100% {
    color: #fff;
    text-shadow:
      0 0 .1em #fff,
      0 0 .2em #fff,
      0 0 .4em #fff,
      0 0 .8em #fff,
      0 0 1.2em #fff,
      0 0 1.6em #fff;
  }
}

.glowing-text {
  font-size: 9vw;
  color: #333;
  text-transform: uppercase;
}

.glowing-text__letter {
  animation: glow 1s linear infinite;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: ($i - 1) * .2s;
    }
  }
}
