<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Neon Lights</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="lights">
    <span class="lights__item lights__item_1"></span>
    <span class="lights__item lights__item_2"></span>
    <span class="lights__item lights__item_3"></span>
    <span class="lights__item lights__item_4"></span>
    <span class="lights__item lights__item_5"></span>
    <span class="lights__item lights__item_6"></span>
  </div>
</body>
</html>