* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

html,
body {
  padding: 0;
  margin: 0;
}

html { font: 16px sans-serif; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #07d1ff;
}

/*================================================================
  editable
================================================================*/

.editable {
  transform: rotate(-10deg) skewX(20deg);
  max-width: 80%;
  margin: 0;
  font-size: 9vw;
  color: #fff;
  text-align: center;
  text-shadow:
    -1px 1px #cacaca,
    -2px 2px #cacaca,
    -3px 3px #cacaca,
    -4px 4px #cacaca,
    -5px 5px #cacaca,
    -6px 6px #cacaca,
    -7px 7px #cacaca,
    -8px 8px #cacaca,
    -9px 9px #cacaca,
    -10px 10px #cacaca,
    -11px 11px #cacaca,
    -12px 12px #cacaca,
    -20px 20px rgba(0, 0, 0, .2);
  user-select: none;
}
