* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #12130f;
}

/*================================================================
  loader
================================================================*/

$duration: 3s;
$t-func: cubic-bezier(.01, .44, .99, .33);

@keyframes rotationLoader {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}

@keyframes pulse1 {
  0%,
  10% {
    left: 0;
    height: 50%;
    width: 50%;
    z-index: 1;
  }
  29% {
    z-index: 2;
  }
  30% {
    left: 100%;
    height: 50%;
    width: 50%;
  }
  45% {
    height: 130%;
    width: 130%;
  }
  60% {
    left: 100%;
    height: 130%;
    width: 130%;
  }
  80% {
    left: 0;
    height: 130%;
    width: 130%;
  }
  90%,
  100% {
    left: 0;
    height: 50%;
    width: 50%;
    z-index: 1;
  }
}

@keyframes pulse2 {
  0%,
  10% {
    right: 0;
    height: 130%;
    width: 130%;
    z-index: 1;
  }
  30% {
    right: 100%;
    height: 130%;
    width: 130%;
  }
  45% {
    height: 50%;
    width: 50%;
  }
  60% {
    right: 100%;
    height: 50%;
    width: 50%;
    z-index: 1;
  }
  80% {
    right: 0;
    height: 50%;
    width: 50%;
    z-index: 2;
  }
  90%,
  100% {
    right: 0;
    height: 130%;
    width: 130%;
  }
}

.loader {
  position: relative;
  width: 50px;
  height: 50px;
  animation: rotationLoader $duration linear infinite alternate-reverse;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    border-width: 8px;
    border-style: solid;
    border-radius: 50%;
  }

  &::before {
    left: 0;
    transform: translateX(-50%);
    border-color: #f50057;
    animation: pulse1 $duration $t-func infinite;
  }

  &::after {
    right: 0;
    transform: translateX(50%);
    border-color: #ffc107;
    animation: pulse2 $duration $t-func infinite;
  }
}