html,
body {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: #323436;
}

/*================================================================
  loader
================================================================*/

$duration: .75s;
$t-func: linear;
$iteration: infinite;

@keyframes bounce {
  0% { transform: translateY(-50%) scale(1, .8) }
  30% { transform: translateY(-250%) scale(.8, 1) }
  60% { transform: translateY(-300%) scale(1, .8) }
  85% { transform: translateY(-50%) scale(1, .8) }
  95%, 100% { transform: translateY(-50%) scale(1, .8) }
}

@keyframes bounceShadow {
  0% { transform: scale(1, .25) }
  30% { transform: scale(1.25, .25) }
  60% { transform: scale(1.5, .25) }
  85% { transform: scale(1, .25) }
  90% { transform: scale(1, .25) }
  100% { transform: scale(1, .25) }
}

.loader {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &::before {
    background-color: #188fa7;
    box-shadow: inset 0 -10px rgba(0, 0, 0, .1);
    animation: bounce $duration $t-func $iteration;
  }

  &::after {
    transform: scale(1, .25);
    background-color: rgba(0, 0, 0, .1);
    animation: bounceShadow $duration $t-func $iteration;
  }
}