<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Odometer</title>
  <link rel="stylesheet" href="libs/themes/odometer-theme-car.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="odometer" class="odometer">000000</div>

  <!-- https://github.com/HubSpot/odometer -->
  <script src="libs/odometer.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
