<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Card Skewed Border</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="card">
    <h3 class="card__title">Card Title</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi facere laudantium facilis quaerat illo tempore perspiciatis exercitationem excepturi fugiat, quia quod unde id dolores odit necessitatibus sunt adipisci aliquid voluptate eum inventore dolor debitis aspernatur sint. Id ab error quam temporibus deserunt voluptatem earum assumenda natus ullam, repellat aliquam eius.</p>
  </div>
</body>
</html>
