* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

html,
body {
  padding: 0;
  margin: 0;
}

html { font: 16px sans-serif; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111;
}

/*================================================================
  card
================================================================*/

.card {
  position: relative;
  flex: 0 1 300px;
  min-height: 400px;
  transform-style: preserve-3d;
  perspective: 500px;

  &:hover,
  &:focus {
    outline: none;

    .card__layer_front {
      transform: rotateY(180deg);
    }

    .card__layer_back {
      transform: rotateY(360deg);
    }
  }
}

.card__layer {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 1s ease-in-out;
}

.card__layer_front {
  background-color: #ff0;
}

.card__layer_back {
  transform: rotateY(180deg);
  background-color: #3bc2ff;
}

.card__title {
  transform: translateZ(2em);
  font-size: 3em;
  text-transform: uppercase;
}

.card__title_white { color: #fff; }
