* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 0 40px;
  font-family: sans-serif;
  background-color: #262626;
}

/*================================================================
  breadcrumbs
================================================================*/

$base: 38px;
$link-bg: #ddd;
$link-bg-active: darken(orange, 15%);
$duration: .25s;

.breadcrumbs {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: $base * 1.5;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 1),
              0 4px 14px rgba(0, 0, 0, .7);
}

.breadcrumbs__link {
  position: relative;
  display: flex;
  flex-grow: 1;
  padding-left: $base;
  padding-right: 0;
  font-size: 14px;
  color: #676767;
  text-align: center;
  text-decoration: none;
  background-color: $link-bg;
  transition-duration: $duration;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: $base / -1.35;
    z-index: 1;
    transform: rotate(45deg);
    width: $base * 1.5;
    height: $base * 1.5;
    border-top-right-radius: 5px;
    background-color: $link-bg;
    box-shadow: 1px -1px rgba(0, 0, 0, .25);
    transition-duration: $duration;
  }

  &:first-child {
    padding-left: $base / 2.5;
  }

  &:last-child {
    padding-right: $base / 2.5;

    &::after {
      display: none;
    }
  }

  &:hover,
  &:focus {
    color: #fff;
    background-color: $link-bg-active;

    &::after {
      background-color: $link-bg-active;
    }
  }
}

.breadcrumbs__inner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.breadcrumbs__link-title {
  font-weight: bold;
}