body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #262626;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*================================================================
   shape
================================================================*/

$b-radius: 45px;

.shape {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: $b-radius;
  background-color: #2196f3;
  transition: .5s;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: $b-radius;
    background-color: inherit;
    transition: inherit;
  }

  &::before {
    transform: rotate(30deg);
  }

  &::after {
    transform: rotate(-30deg);
  }

  &:hover {
    border-radius: $b-radius / 2;

    .shape__text {
      color: #2196f3;
    }

    &::before,
    &::after {
      border-radius: $b-radius / 2;
      background-color: #fff;
    }

    &::before {
      transform: rotate(-30deg);
    }

    &::after {
      transform: rotate(30deg);
    }
  }
}

.shape__text {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 8em;
  color: #fff;
  transition: inherit;
}