<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Change Body Background Color Using Color Box</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <ul id="colorbox" class="colorbox">
    <li class="colorbox__item"><a href="#" class="colorbox__link" style="background-color: #e74c3c;">#e74c3c</a></li>
    <li class="colorbox__item"><a href="#" class="colorbox__link" style="background-color: #3498db;">#3498db</a></li>
    <li class="colorbox__item"><a href="#" class="colorbox__link" style="background-color: #2ecc71;">#2ecc71</a></li>
    <li class="colorbox__item"><a href="#" class="colorbox__link" style="background-color: #34495e;">#34495e</a></li>
    <li class="colorbox__item"><a href="#" class="colorbox__link" style="background-color: #f1c40f;">#f1c40f</a></li>
    <li class="colorbox__item"><a href="#" class="colorbox__link" style="background-color: #e67e22;">#e67e22</a></li>
  </ul>

  <script src="js/main.js"></script>
</body>
</html>