* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

html,
body {
  padding: 0;
  margin: 0;
  font: 16px/1.42 sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #060c21;
}

/*================================================================
  card
================================================================*/

.card {
  position: relative;
  flex: 0 1 290px;
  color: #fff;
  background-color: #060c21;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4), no-repeat;
  }

  &::after {
    z-index: -2;
    filter: blur(40px);
  }

  p {
    margin-top: 1.2em;
    margin-bottom: 0;
  }
}

.card__inner {
  position: relative;
  z-index: 1;
  padding: 40px 20px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, .05);
  }
}

.card__title {
  margin-top: 0;
  font-size: 1.6em;
}
