* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

html,
body {
  padding: 0;
  margin: 0;
}

/*================================================================
  glitch
================================================================*/

.glitch,
.glitch__item {
  background: fixed url(https://picsum.photos/id/441/1920/1200) center no-repeat;
}

.glitch {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.glitch__item { position: absolute; }
