<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dimond Grid</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <ul class="diamond-grid">
    <li class="diamond-grid__item">
      <div class="diamond-grid__img" style="background-image: url(img/1.jpg)"></div>
    </li>
    <li class="diamond-grid__item">
      <div class="diamond-grid__img" style="background-image: url(img/2.jpg)"></div>
    </li>
    <li class="diamond-grid__item">
      <div class="diamond-grid__img" style="background-image: url(img/3.jpg)"></div>
    </li>
    <li class="diamond-grid__item">
      <div class="diamond-grid__img" style="background-image: url(img/4.jpg)"></div>
    </li>
    <li class="diamond-grid__item">
      <div class="diamond-grid__img" style="background-image: url(img/5.jpg)"></div>
    </li>
  </ul>
</body>
</html>