* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

html,
body {
  padding: 0;
  margin: 0;
  font: 16px sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*================================================================
  btn
================================================================*/

.btn {
  position: relative;
  padding: .6em 1.5em;
  border: 2px solid #000;
  font-size: 1.2rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: transparent;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: #fff;
    transition-duration: .25s;
  }

  &::before {
    top: 5px;
    right: -2px;
    bottom: 5px;
    left: -2px;
  }

  &::after {
    top: -2px;
    right: 5px;
    bottom: -2px;
    left: 5px;
  }

  &:hover,
  &:focus {
    outline: none;

    &::before { transform: scaleY(0); }
    &::after { transform: scaleX(0); }
  }
}

.btn__text {
  position: relative;
  z-index: 1;
}
