* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*================================================================
  lighted-img
================================================================*/

.lighted-img {
  overflow: hidden;
  width: 600px;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*================================================================
  light
================================================================*/

.light {
  position: fixed;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-image: radial-gradient(rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 60%);
}