* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2f0849;
}


/*================================================================
  cube
================================================================*/

$width: 100px;
$height: 100px;

$yellow: #ffc81d;
$cubeSize: 100px;
$time: 2s;
$t-func: ease-in-out;
$iteration: infinite;

@keyframes sideAnimate {
  0% { transform: rotateX(0); }
  90%, 100% { transform: rotateX(180deg); }
}

@keyframes cubeAnimate {
  from { transform: rotateX(30deg) rotateY(-45deg) translateY(0); }
  to { transform: rotateX(30deg) rotateY(-45deg) translateY(-$height); }
}

.cube {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(45deg);
  width: $width;
  height: $height;
  animation: cubeAnimate $time $t-func $iteration;
}

.cube__side {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  width: $width;
  height: $height;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform-style: preserve-3d;
    width: $width;
    height: $height;
    border: 2px solid $yellow;
    background-image: linear-gradient($yellow, darken($yellow, 10%));
  }

  &:not(.cube__side_1) {
    &::before { animation: sideAnimate $time $t-func $iteration; }
  }
}

.cube__side_1 { transform: rotateX(-90deg) translateZ($height / 2); }
.cube__side_2 { transform: translateZ(-$height / 2); }
.cube__side_3 { transform: rotateY(180deg) translateZ(-$height / 2); }
.cube__side_4 { transform: rotateY(90deg) translateZ(-$height / 2); }
.cube__side_5 { transform: rotateY(-90deg) translateZ(-$height / 2); }
