* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dfdfdf;
}

/*================================================================
  customcheckbox
================================================================*/

$color-active: #26a69a;
$color-inactive: #949494;

.customcheckbox {
  position: relative;
}

.customcheckbox__input {
  position: absolute;
  top: 0;
  left: -99999px;
  opacity: 0;

  &:checked {
    & + .customcheckbox__label {
      &::before {
        transform: rotate(180deg);
        background-color: $color-active;
      }

      &::after {
        left: 100%;
        transform-origin: 50%;
        transform: translateX(-100%) rotate(180deg);
      }
    }
  }
}

.customcheckbox__label {
  position: relative;
  display: block;
  width: 72px;
  height: 28px;
  cursor: pointer;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: .3s ease;
  }
  
  &::before {
    width: 100%;
    height: 100%;
    background-color: $color-inactive;    
    border-radius: 500px;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, .2);
  }

  &::after {
    left: 0;
    transform-origin: 150% 150%;
    transform: rotate(0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lighten($color-inactive, 40%);
    box-shadow: 0 0 5px $color-inactive;
  }
}