* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

html,
body {
  padding: 0;
  margin: 0;
}

/*================================================================
  intro
================================================================*/

@keyframes increase {
  from { transform: translate(-50%, -50%) scale(0); }
  to { transform: translate(-50%, -50%) scale(1); }
}

.intro {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background-color: #607d89;
}

.intro__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-bottom: 1px solid #fff;
  border-radius: 50%;
  box-shadow: inset 0 2vw 7vw rgba(0, 0, 0, 1);
  animation: increase 2s ease forwards;
}

.intro__item_1 {
  width: 100vw;
  height: 100vw;
}

.intro__item_2 {
  width: 80vw;
  height: 80vw;
  animation-delay: .2s;
}

.intro__item_3 {
  width: 60vw;
  height: 60vw;
  animation-delay: .4s;
}

.intro__item_4 {
  width: 40vw;
  height: 40vw;
  animation-delay: .7s;
}

.intro__item_5 {
  width: 20vw;
  height: 20vw;
  animation-delay: .9s;
}
